section{
  min-height: calc(100vh - 140px);
  margin: 12rem 15rem 5rem 15rem;
  font-size: 1.6rem;
}
h2{
  padding: 2rem 4rem;
  font-family: "Courgette", cursive;
}

.contact{
  font-size: 1.6rem;
}
.contact a{
  color: #216AF2;
  font-weight: 600;
  text-decoration: none;
}

.title {
  font-size: 2rem;
  color: #216AF2;
}
.email ,a{
  color: #216AF2;
  padding-bottom: 2rem;
}

.bank{
  color: #216AF2;
}

/* Response */

/* Large desktops and wide screens */
@media (min-width: 1201px) {
  section{
    margin: 10rem 12rem 5rem 12rem;
    font-size: 1.5rem;
  }
  h2{
    padding: 2rem 3rem;
    font-family: "Courgette", cursive;
  }
  .title {
    font-size: 1.8rem;
  }
}
/* Laptops and small desktops */
@media (min-width: 769px) and (max-width: 1200px) {
  section{
    margin: 10rem 8rem 5rem 6rem;
    font-size: 1.1rem;
  }
  h2{
    padding: 2rem 3rem;
  }
  .title {
    font-size: 1.7rem;
  }
}

/* Tablets (iPads, etc.) */
@media (min-width: 481px) and (max-width: 768px) {
  section{
    margin: 10rem 8rem 5rem 6rem;
    font-size: 1.1rem;
  }
  h2{
    padding: 2rem 3rem;
    font-family: "Courgette", cursive;
  }
  .title {
    font-size: 1.6rem;
  }
}

/* Mobile devices */
@media (max-width: 480px) {
  section{
    margin: 8rem 1.4rem 2rem 1.4rem;
    font-size: 1.1rem;
  }
  h2{
    padding: 2rem 2rem;
    font-family: "Courgette", cursive;
  }
  .title {
    font-size: 1.5rem;
  }
}
