section {
  font-size: 1.2rem;
  line-height: 1.8rem;
  /* Füge zentrierte Ausrichtung und max-width hinzu: */
  width:100%;
  max-width: 1200px;
  min-width: 1200px;
  overflow-x: auto;;
  background: rgba(255,255,255,0.7); /* Optional, für bessere Lesbarkeit */
  border-radius: 8px; /* Optional */
  padding: 5rem 20rem;


}
h2{
  padding-bottom: 40px;
  font-family: "Lexend Exa", serif;
}

.contact{
  font-family: "Poppins", sans-serif;
  font-size: 1.0rem;
}
.contact a{
  color: var(--primary);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.title {
  font-size: 1rem;
  color: var(--primary);
}
.email ,a{
  color: var(--primary);
  padding-bottom: 2rem;
}

.bank{
  color: var(--primary);
}
p{
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
}

/* Response */
/* Laptops and small desktops */
@media (min-width: 769px) and (max-width: 1200px) {
  section{
    font-size: 1.4rem;
    padding: 5rem 7rem;
    min-width: 800px;
    max-width: 800px;

  }.contact{
  font-size: 1.4rem;
  }
  h2{
    padding-bottom: 40px;
  }
  .title {
    font-size: 1.5rem;
  }
}

/* Tablets (iPads, etc.) */
@media (min-width: 481px) and (max-width: 768px) {
  section{
    font-size: 1.1rem;
    padding: 3rem 4rem;
    min-width: 450px;
    max-width: 450px;
  }
  h2{
    padding-bottom: 40px;
    font-family: "Lexend Exa", serif;
  }
  .title {
    font-size: 1.2rem;
  }
}

/* Mobile devices */
@media (max-width: 480px) {
  section{
    padding: 1rem 1rem;
    font-size: 0.9rem;
    min-width: 250px;
    max-width: 250px;
  }
  h2{
    font-family: "Lexend Exa", serif;
  }
  .title {
    font-size: .9rem;
  }
}
