<section class="imprint">
  <div class="imprint-title">
    <h2>IMPRESSUM </h2>

    <div class="contact">
      <strong>Diensteanbieter für das Angebot unter</strong>
      <a href=" http://www.HolidayHome.de "> www.HolidayHome.de </a>
      <strong>und Vertragspartner für die Vermittlung ist die:</strong>
    </div>

    <p ><strong class="title">HOLIDAYHOME</strong><br> <br>
      Trendermaschweg 15, 25845 Nordstrand<br>
      UmSt ID-Nr. 17484575</p>

    <div class="email"><a href="mailto:info@HolidayHome.de">info&#64;HolidayHome.de</a></div>

    <div class="manager-title"><strong>Geschäftsführerin:</strong> Gabi Rosenbaum</div><br>

    <div class="bank-details"><span class="bank">Bankverbindungen:</span><br>
      Empfänger: HOLIDAYHOME A/S<br>
      Sparkasse Husum<br>
      IBAN: DE 86203205004989011464<br>
      BIC: DABADEHHXXX</div>

    <p>Der Anbieter bemüht sich, dass die auf ihrer Website enthaltenen Informationen und Daten zutreffend sind. Eine Haftung oder Garantie für die Aktualität, Richtigkeit und Vollständigkeit der zur Verfügung gestellten Informationen und Daten ist jedoch ausgeschlossen. Dies gilt ebenso für alle anderen Websites, auf die mittels eines Hyperlinks verwiesen wird. Der Anbieter ist für den Inhalt solcher Websites, die mittels einer solchen Verbindung erreicht werden, ebenfalls nicht verantwortlich.</p>

    <p>Der Anbieter behält sich vor, ohne Ankündigung Änderungen oder Ergänzungen der bereitgestellten Informationen oder Daten vorzunehmen. Der Inhalt der Website ist urheberrechtlich geschützt. Die Vervielfältigung von Informationen oder Daten, insbesondere die Verwendung von Texten, Textteilen oder Bildmaterial bedarf der vorherigen Zustimmung des Anbieters. Davon ausgenommen sind die im Kapitel "Presse" für die Weiterverbreitung ausdrücklich angebotenen Informationen.</p>

    <p>Sämtliche Informationen oder Daten, ihre Nutzung und die Anmeldung zur Website sowie sämtliches mit der Website zusammenhängendes Tun, Dulden oder Unterlassen unterliegen ausschließlich deutschem Recht. Erfüllungsort und ausschließlicher Gerichtsstand ist des Anbieters.</p>
  </div>
</section>






