<div class="accommodation-list-container">
  <!-- FilterForm -->
  <form [formGroup]="filterForm" (ngSubmit)="applyFilters()" class="filter-form">
    <div class="filter-inner">
      <!-- living space -->
      <label for="size">Wohnfläche (m²):</label>
      <input id="size" type="number" formControlName="size" class="input-small" min="0" />
      <div *ngIf="filterForm.get('size')?.errors?.['min'] && filterForm.get('size')?.touched" style="color: red;">
        Mindestwert ist 20
      </div>
      <!-- numberOfRooms -->
      <label for="rooms">Zimmer:</label>
      <input id ="rooms" type="number" formControlName="rooms" class="input-small" min="0" />
      <div *ngIf="filterForm.get('rooms')?.errors?.['min'] && filterForm.get('rooms')?.touched" style="color: red;">
        Mindestwert ist 1
      </div>
      <!-- otherFilters -->
      <label>
        <input type="checkbox" formControlName="dogsAllowed" />
        Hunde erlaubt
      </label>
      <label>
        <input type="checkbox" formControlName="hasWifi" />
        WLAN vorhanden
      </label>
      <label>
        <input type="checkbox" formControlName="hasSauna" />
        Sauna vorhanden
      </label>
      <!-- useFilters-Button -->
      <button type="submit" class="filter-submit-button">
        Filter anwenden
      </button>
      <button type="button" class="reset-button" (click)="resetFilters()">🔄</button> <!--🔄-->
    </div>
  </form>

  <div class="dropdown-container">
    <button class="dropdown-button" (click)="toggleDropdown()">
      {{ selectedSortText }}
    </button>

    <div class="dropdown-menu" [class.show]="isOpen">
      <div class="dropdown-item" (click)="sortByCurrentPrice(true); isOpen = false">
        Preis <span>aufsteigend</span>
      </div>
      <div class="dropdown-item" (click)="sortByCurrentPrice(false); isOpen = false">
        Preis <span>absteigend</span>
      </div>
      <div class="dropdown-item" (click)="sortBySquaremeter(true); isOpen = false">
        Wohnfläche <span>aufsteigend</span>
      </div>
      <div class="dropdown-item" (click)="sortBySquaremeter(false); isOpen = false">
        Wohnfläche <span>absteigend</span>
      </div>
      <div class="dropdown-item" (click)="sortByNumbersOfRooms(true); isOpen = false">
        Anzahl der Räume <span>aufsteigend</span>
      </div>
      <div class="dropdown-item" (click)="sortByNumbersOfRooms(false); isOpen = false">
        Anzahl der Räume <span>absteigend</span>
      </div>
    </div>
  </div>

  <div class="accommodation-grid">
    @for (accommodation of filteredAccommodations; track accommodation) {
      <app-accommodation [accommodation]="accommodation"></app-accommodation>
    } @empty {
      <p>Keine Unterkünfte gefunden.</p>
    }
  </div>
</div>


