<form class="accommodation-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Grunddaten</legend>

    <div class="form-group-vertical">
      <label for="accommodation-type">Art der Unterkunft</label>
      <select id="accommodation-type" formControlName="accommodationType">
        @for (accommodationType of accommodationTypes$ | async; track accommodationType) {
          <option value="{{ accommodationType.id }}">{{ accommodationType.title }}</option>
        }
      </select>
    </div>

    <div class="form-group-vertical">
      <label for="landlord-name">Vermietername</label>
      <input type="text" id="landlord-name" formControlName="landlordName" required>
    </div>

    <div class="form-group-vertical">
      <label for="accommodation-name">Name der Unterkunft</label>
      <input type="text" id="accommodation-name" formControlName="accommodationName" required>
    </div>

    <div class="form-group-vertical">
      <label for="street">Straße</label>
      <input type="text" id="street" formControlName="street" required>
    </div>

    <div class="form-group-vertical">
      <label for="city">Ort</label>
      <input type="text" id="city" formControlName="city" required>
    </div>
  </fieldset>

  <fieldset>
    <legend>Ausstattung</legend>

    <div class="grid-row">
      <div class="form-group-vertical">
        <label for="square-meters">Größe in m²</label>
        <input type="number" id="square-meters" formControlName="squareMeters" min="{{ minSquareMeters }}" required>
      </div>

      <div class="form-group-vertical">
        <label for="number-of-beds">Betten</label>
        <input type="number" id="number-of-beds" formControlName="numberOfBeds" min="{{ minNumberOfBeds }}" required>
      </div>

      <div class="form-group-vertical">
        <label for="number-of-bedrooms">Schlafzimmer</label>
        <input type="number" id="number-of-bedrooms" formControlName="numberOfBedrooms" min="{{ minNumberOfBedrooms }}" required>
      </div>
    </div>

    <div class="grid-row">
      <div class="form-group-vertical">
        <label for="number-of-living-rooms">Wohnräume</label>
        <input type="number" id="number-of-living-rooms" formControlName="numberOfLivingRooms"
               min="{{ minNumberOfLivingRooms }}" required>
      </div>

      <div class="form-group-vertical">
        <label for="number-of-mixed-rooms">Wohn- / Schlafräume</label>
        <input type="number" id="number-of-mixed-rooms" formControlName="numberOfMixedRooms"
               min="{{ minNumberOfMixedRooms }}" required>
      </div>

      <div class="form-group-vertical">
        <label for="kitchen-type">Art der Küche</label>
        <select id="kitchen-type" formControlName="kitchenType" required>
          @for (kitchenType of kitchenTypes$ | async; track kitchenType.id) {
            <option value="{{ kitchenType.id }}">{{ kitchenType.title }}</option>
          }
        </select>
      </div>
    </div>

    <div class="grid-row">
      <div class="form-group-vertical">
        <label for="number-shower-wc">Anzahl Dusche / WC</label>
        <input type="number" id="number-shower-wc" formControlName="numberOfShowers" min="{{ minNumberOfShowers }}">
      </div>

      <div class="form-group-vertical">
        <label for="number-bathtub-wc">Anzahl Badewanne / WC</label>
        <input type="number" id="number-bathtub-wc" formControlName="numberOfBathtubs" min="{{ minNumberOfBathtubs }}">
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Preise</legend>

    <div class="grid-row">
      <div>
        <p>Saison A</p>

        <div class="form-group-horizontal">
          <input type="checkbox" id="season-a-bookable" formControlName="seasonABookable">
          <label for="season-a-bookable">Buchbar</label>
        </div>

        <div class="form-group-vertical">
          <label for="season-a-price">Preis</label>
          <input type="number" id="season-a-price" formControlName="seasonAPrice">
        </div>
      </div>

      <div>
        <p>Saison B</p>

        <div class="form-group-horizontal">
          <input type="checkbox" id="season-b-bookable" formControlName="seasonBBookable">
          <label for="season-b-bookable">Buchbar</label>
        </div>

        <div class="form-group-vertical">
          <label for="season-b-price">Preis</label>
          <input type="number" id="season-b-price" formControlName="seasonBPrice">
        </div>
      </div>

      <div>
        <p>Saison C</p>

        <div class="form-group-horizontal">
          <input type="checkbox" id="season-c-bookable" formControlName="seasonCBookable">
          <label for="season-b-bookable">Buchbar</label>
        </div>

        <div class="form-group-vertical">
          <label for="season-b-price">Preis</label>
          <input type="number" id="season-c-price" formControlName="seasonCPrice">
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Weitere Angaben</legend>

    <div class="grid-row">
      <div class="form-group-vertical">
        <label for="short-trip">Kurzreise</label>
        <select id="short-trip" formControlName="shortTripAvailability">
          <option value="0">Verfügbar</option>
          <option value="2">Gegen Aufpreis</option>
          <option value="1">Nicht verfügbar</option>
        </select>
      </div>

      <div class="form-group-vertical">
        <label for="bedsheets">Bettwäsche</label>
        <select id="bedsheets" formControlName="bedsheetsAvailability">
          <option value="0">Verfügbar</option>
          <option value="2">Gegen Aufpreis</option>
          <option value="1">Nicht verfügbar</option>
        </select>
      </div>

      <div class="form-group-vertical">
        <label for="towels">Handtücher</label>
        <select id="towels" formControlName="towelsAvailability">
          <option value="0">Verfügbar</option>
          <option value="2">Gegen Aufpreis</option>
          <option value="1">Nicht verfügbar</option>
        </select>
      </div>
    </div>

    <div class="flex-row">
      <div class="form-group-horizontal">
        <input type="checkbox" id="wifi" formControlName="isWifiAvailable">
        <label for="wifi">WLAN vorhanden</label>
      </div>

      <div class="form-group-horizontal">
        <input type="checkbox" id="dogs-allowed" formControlName="isDogsAllowed">
        <label for="dogs-allowed">Hunde erlaubt</label>
      </div>

      <div class="form-group-horizontal">
        <input type="checkbox" id="non-smoking" formControlName="isNonSmoking">
        <label for="non-smoking">Nichtraucher</label>
      </div>

      <div class="form-group-horizontal">
        <input type="checkbox" id="tv" formControlName="isTelevisionAvailable">
        <label for="tv">TV vorhanden</label>
      </div>

      <div class="form-group-horizontal">
        <input type="checkbox" id="washing-machine" formControlName="isWashingMachineAvailable">
        <label for="washing-machine">Waschmaschine</label>
      </div>

      <div class="form-group-horizontal">
        <input type="checkbox" id="parking" formControlName="isParkingAvailable">
        <label for="parking">Hauseigener Parkplatz</label>
      </div>

      <div class="form-group-horizontal">
        <input type="checkbox" id="sauna" formControlName="isSaunaAvailable">
        <label for="sauna">Sauna vorhanden</label>
      </div>
    </div>

    <div class="form-group-vertical">
      <label for="hints">Zusatzinformationen</label>
      <textarea id="hints" formControlName="hints" cols="30" rows="10"></textarea>
    </div>
  </fieldset>

  <button type="submit" [disabled]="!formGroup.valid">Absenden</button>
</form>
