.container-home {
  min-height: calc(130vh - 140px);
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif;

}

.hero-image {
  position: relative;
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.hero-title {
  color: var(--white-color);
  font-size: 2.6rem;
  font-weight: 800;
  background-color: rgba(0, 0, 0, 0.4);
  /*background: url("/assets/background-1.jpg");/
  /*background-color: rgba(234, 233, 233, 0.4);*/
  backdrop-filter: blur(3px);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  margin-bottom: 32rem;
  margin-left: 1.6rem;
  max-width: 45%;


}

.content-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  padding: 2rem 1rem;
  text-align: center;
}

.content-text div {
  flex: 1 1 250px;
  max-width: 300px;
}

.content-text p {
  font-size: 1rem;
  color: #333;
}
.container{
  font-size: 1.2rem;
  line-height: 2.1rem;
  padding: 5rem 20rem;

}
.imprint p{
  color: var(--primary);
  font-size: 1.5rem;
  font-weight: 600;

}
li{
  list-style: none;
}


/* Response */
/* Large desktops and wide screens */
@media (min-width: 1200px) {
  .hero-title {
    font-size: 2.6rem;
    margin-bottom: 32rem;
    max-width: 50%;
  }
  .container{
    //padding: 5rem 12rem;

  }
  .hero-title {
    font-size: 2.6rem;
    font-weight: 600;
  }
}
/* Laptops and small desktops */
@media (min-width: 769px) and (max-width: 1199px) {
  .hero-title {
    font-size: 2.2rem;
    margin-bottom: 15rem;
    max-width: 55%;
  }
  .container{
    padding: 5rem 7rem;
    }
  .hero-title {
    font-size: 2.4rem;
    font-weight: 600;
  }
  .imprint, p{
    font-size: 1.5rem;
  }
}

/* Tablets (iPads, etc.) */
@media (min-width: 481px) and (max-width: 768px) {
  .hero-title {
    font-size: 1.8rem;
    margin-bottom: 16rem;
    max-width: 55%;
  }
  .container{
    padding: 4rem 5rem;
  }
  .imprint, p{
    font-size: 1.4rem;
  }
}

/* Mobile devices */
@media (max-width: 480px) {
  .hero-title {
    font-size: 1.6rem;
    margin-bottom: 19rem;
    margin-left: 1rem;
    max-width: 70%;
  }
  .container{
    padding: 4rem 2rem;
  }
  .imprint, p{
    font-size: 1rem;
    font-weight: 300;
  }
}
