<section class="container-home">
  <div class="hero-image"
       [ngStyle]="{'background-image': 'url(Logos/background-1.jpg)'}"
  >
    <h1 class="hero-title">
      Willkommen bei Holiday Home – Ihre Traumunterkunft wartet schon!
    </h1>
  </div>
  <div class="container">
    <div class="text-">
      <p></p>
    </div>
    <div>
      <p></p>
    </div>
    <div>
      <p></p>
    </div>

  </div>
</section>


<!--
<section class="landing">
  <div class="landing-image">
    <h1 class="landing-title">
      Willkommen bei Holiday Home – Ihre Traumunterkunft wartet schon!
    </h1>
  </div>
  <div class="landing-text">
    <p> Holiday Home...</p>
    <p>Info</p>
    <p>Beschreibung</p>
  </div>
</section>

 [ngStyle]="{'background-image': 'url(Logos/background-1.jpg)'}"
-->
