<section class="container-home">
  <div class="hero-image"
          [ngStyle]="{'background-image': 'url(Logos/background-1.jpg)'}"
  >
    <h1 class="hero-title">
      Willkommen bei Holiday Home –<br> Ihre Traumunterkunft wartet schon!
    </h1>
  </div>
  <div class="container">
    <div class="text-">
      <p>Entdecken Sie bei uns eine große Auswahl an gemütlichen Ferienwohnungen und komfortablen Ferienhäusern für Ihren nächsten Urlaub.
        Ob direkt am Meer, mitten in der Natur oder in der Nähe lebendiger Städte – bei uns finden Sie genau die Unterkunft, die zu Ihren Wünschen passt.</p>
    </div>
    <div>
      <p>So einfach funktioniert’s:
        Wunschregion und Reisedatum auswählen
        Ferienhaus oder Wohnung aussuchen
        Direkt online buchen und entspannt zurücklehnen
      </p>
    </div>
    <div>
      <p>Ob romantisch zu zweit, mit der ganzen Familie oder als Gruppe – wir bieten Ihnen das passende Feriendomizil.</p>
    </div>

  </div>
</section>



