<div class="accomodation-list-container">
  <div class="accomodation-grid">
    <app-accomodation
      *ngFor="let accomodation of accomodations"
      [accomodation]="accomodation">
    </app-accomodation>
  </div>
</div>
<!--        src="https://media.architecturaldigest.com/photos/5ca3d1cd409e4846cd72a3b2/16:9/w_2560%2Cc_limit/20150915-DSC_7198-2.JPG"-->
<!--        alt="Stadtvilla">-->
<!--      <div class="details">-->
<!--        <span>Anzahl der Betten: 4</span>-->
<!--        <span>150 m²</span>-->
<!--      </div>-->
<!--      <p class="price">ab 220€ pro Nacht</p>-->
<!--    </div>-->
<!--  </div>-->

<!--
<section>
    @for (accomodation of accomodations; track accomodation) {
      <app-accomodation [accomodation]="accomodation"></app-accomodation>
    } @empty {
      <p>Keine Unterkünfte gefunden.</p>
    }
  </section>
-->
