<section>
  <div class="accommodation-card">
    <div class="card-header">
      <h3 class="property-title">{{accomodation.name}}</h3>

      <div class="property-address">
        <span>{{accomodation.street}}, <fa-icon [icon]="faLocationDot"></fa-icon> {{accomodation.city}}</span>
      </div>
      <div class="favorite-icon" (click)="toggleFavorite($event)">
        <fa-icon [icon]="isFavorite ? faSolidHeart : faRegularHeart"></fa-icon>
      </div>
    </div>

    <div class="card-image">
      <div class="image-container">
        <img 
          *ngIf="accommodationImages.length > 0"
          [src]="accommodationImages[currentImageIndex]" 
          [alt]="'Image of ' + accomodation.name" 
          class="property-image"
        >
        <div *ngIf="accommodationImages.length === 0" class="no-image">
          No images available
        </div>
        
        <!-- Navigation Arrows -->
        <button 
          *ngIf="accommodationImages.length > 1"
          class="nav-arrow left-arrow" 
          (click)="$event.stopPropagation(); previousImage()"
          aria-label="Previous image">
          &lt;
        </button>
        <button 
          *ngIf="accommodationImages.length > 1"
          class="nav-arrow right-arrow" 
          (click)="$event.stopPropagation(); nextImage()"
          aria-label="Next image">
          &gt;
        </button>
        
        <!-- Image Indicators -->
        <div *ngIf="accommodationImages.length > 1" class="image-indicators">
          <span 
            *ngFor="let img of accommodationImages; let i = index"
            [class.active]="i === currentImageIndex"
            (click)="$event.stopPropagation(); currentImageIndex = i">
          </span>
        </div>
      </div>
    </div>

    <div class="card-content">
      <div class="property-features">
        <div class="feature">
          <fa-icon [icon]="faBed"></fa-icon>
          <span>{{accomodation.numberOfBeds}} Betten</span>
        </div>
        <div class="feature">
          <fa-icon [icon]="faExpand"></fa-icon>
          <span>{{accomodation.squareMeter}} m²</span>
        </div>
      </div>

      <div class="property-footer">
        <div class="property-type">
          <fa-icon [icon]="faHome"></fa-icon>
          <span>{{accomodation.type}}</span>
        </div>
      </div>
    </div>
  </div>
</section>


