.data-privacy {
  /*background: #f8f8f8;*/
  min-height: 100vh;
  font-size: 1.2rem;
  padding: 5rem 19rem;


  .privacy-content {
    //max-width: 1200px;
    margin: 0 auto;
    /*background: white;*/
    padding: 1rem;
    border-radius: 8px;
    /*box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);*/
  }

  .privacy-title {
    color: #2c3e50;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
  }

  .privacy-intro {
    font-size: 1.2rem;
    line-height: 1.7;
    margin-bottom: 2.5rem;
    text-align: center;
    font-weight: 600;
  }

  .privacy-section {
    margin-bottom: 3rem;
    p{
      line-height: 1.7;
      font-size: 1.2rem;
      font-family: "Poppins", sans-serif;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  .section-title {
    color: #2c5282;
    font-size: 1.2rem;
    margin: 2rem 0 1.5rem;
    font-weight: 600;
    position: relative;
    padding-bottom: 0.5rem;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 60px;
      height: 3px;
      background-color: var(--primary);
    }
  }

  .subsection-title {
    font-size: 1.2rem;
    margin: 1.8rem 0 1rem;
    font-weight: 500;
  }

  p {
    line-height: 1.7;
    margin-bottom: 1.2rem;
    font-family: "Poppins", sans-serif;
  }

  .privacy-list {
    margin: 1.5rem 0 1.5rem 1.5rem;
    text-decoration: none;

    li {
      margin-bottom: 0.8rem;
      line-height: 1.6;
      position: relative;
      padding-left: 1.5rem;
      list-style: none;
      font-family: "Poppins", sans-serif;
      font-size: 1.2rem;

      &::before {
        content: '•';
        color: var(--color);
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1.5rem;
      }
    }
  }

  .privacy-email {
    color: var(--primary);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;

    &:hover {
      color: #2c5282;
      text-decoration: underline;
    }
  }
  @media (min-width: 769px) and (max-width: 1200px) {
    padding: 1rem 5rem;
    .privacy-content {
      padding: 2rem 2rem;
    }
    .privacy-content .privacy-title{
      font-size: 1.5rem;
    }

    .privacy-content .privacy-intro{
      font-size: 1.5rem;
    }
    .privacy-content .privacy-section p ,
    .privacy-content .privacy-section .privacy-list li{
      font-size: 1.4rem;

    }
    .privacy-content .privacy-section .subsection-title{
      font-size: 1.4rem;
    }
    .privacy-content .privacy-section .section-title{
      font-size: 1.4rem;
    }
    .privacy-title {
      font-size: 1.4rem;
    }
  }
  @media (min-width: 481px) and (max-width: 768px) {
    padding: 1rem 1rem;

    .privacy-content {
      padding: 2rem 3rem;
    }
    .privacy-content .privacy-title{
      font-size: 1.2rem;
    }

    .privacy-content .privacy-intro{
      font-size: 1.2rem;
    }
    .privacy-content .privacy-section p ,
    .privacy-content .privacy-section .privacy-list li{
      font-size: 1rem;

    }
    .privacy-content .privacy-section .subsection-title{
      font-size: 1rem;
    }
    .privacy-content .privacy-section .section-title{
      font-size: 1rem;
    }
    .privacy-title {
      font-size: 1rem;
    }
  }
  @media (max-width: 480px) {
    padding: 1rem .2rem;
    .data-privacy{
      //padding: 2rem 1rem;
      //font-size: 3rem;
    }
    .privacy-content .privacy-title{
      font-size: 1.1rem;
    }

    .privacy-content .privacy-intro{
      font-size: 1rem;
    }
    .privacy-content .privacy-section p ,
    .privacy-content .privacy-section .privacy-list li{
      font-size: .9rem;

    }
    .privacy-content .privacy-section .subsection-title{
      font-size: .9rem;
    }
    .privacy-content .privacy-section .section-title{
      font-size: .9rem;
    }
    .privacy-title {
      font-size: .9rem;

    }
  }
}
