<br><br><br><br>

<section *ngIf="accommodationDetails$ | async as accommodation">

<h2>{{ accommodation.name }}</h2>

<p>Stadt: {{ accommodation.city }}</p>
<p>Vermieter: {{ accommodation.landLordName }}</p>
<p>Straße: {{ accommodation.street }}</p>

<p>Anzahl an Betten: {{ accommodation.numberOfBeds }}</p>
<p>Quadratmeter: {{ accommodation.squareMeter }}</p>
<p>Anzahl an Schlafzimmern: {{ accommodation.numberOfBedrooms }}</p>
<p>Anzahl an Wohnzimmern: {{ accommodation.numberOfLivingRooms }}</p>
<p>Anzahl an Gemischten Räumen: {{ accommodation.numberOfMixedRooms }}</p>
<p>Küchentyp: {{ accommodation.kitchenType }}</p>

<p>Badezimmertyp: {{ accommodation.sanitaryType }}</p>

<p>Preis: {{ accommodation.seasonPricing }}</p>
<p>Kurzreisen: {{ accommodation.shortTrip }}</p>
<p>Bettwäsche: {{ accommodation.bedSheetsAvailability }}</p>
<p>Handtücher: {{ accommodation.towelsAvailable }}</p>
<p>Hinweise: {{ accommodation.hints }}</p>
<p>W-Lan: {{ accommodation.isWifiAvailable }}</p>
<p>Hunde erlaubt: {{ accommodation.isDogAllowed }}</p>
<p>Rauchen erlaubt: {{ accommodation.isNonSmoking }}</p>
<p>Fernseher vorhanden: {{ accommodation.isTelevisionAvailable }}</p>
<p>Waschmaschine vorhanden: {{ accommodation.isWashingMachineAvailable }}</p>
<p>Parkplatz vorhanden: {{ accommodation.isParkingAvailable }}</p>
<p>Sauna vorhanden: {{ accommodation.isSaunaAvailable }}</p>



<p>"Um die Unterkunft zu Buchen oder die Verfügbarkeit zu prüfen, schreiben Sie uns bitte eine E-Mail oder rufen Sie uns gerne an."</p>
<p>E-Mail: </p>
<p>Telefonnummer: </p>
</section>
