<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-links">
        <a (click)="goToImprint($event)">Impressum</a>
      </div>
      <div class="footer-links">
        <a >Datenschutz</a>
      </div>
      <div class="footer-company">
        <div class="company-name">Holiday Homes GmbH</div>
        <div class="company-address">Trendermaaschweg 15</div>
        <div class="company-address">25845 Nordstrand</div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="line"></div>
      <p>&copy; 2025 HOLIDAYHOME A/S. All rights reserved.</p>
    </div>
  </div>
</footer>
